@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both; // this will clear both left and right  floats
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 
0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900 - 1200px:     Tablet Landscape
[1200 - 1800px]:  Our normal styles will apply
1800px + :        Big Desktop
*/

/*
$breakpoint argument choices
- phone
- tablet-portrait
- tablet-landscape
- big-desktop
*/

/* 
In media queries rem is not calculated from root html element but from browser default which is 16px.
1rem = 1em = 16px

We won't use rem here as it doesn't work as intended by all browsers.
We therefore will use em
1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tablet-portrait {
    @media (max-width: 56.25em) {
      // <= 900px
      @content;
    }
  }
  @if $breakpoint == tablet-landscape {
    @media (max-width: 75em) {
      // <= 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // >= 1800px
      @content;
    }
  }
}
