.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skew(-12deg);

  @include respond(tablet-portrait) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  // direct child selector and select everything
  // this won't work on share as it already has transform applied
  //   & > * {
  //     transform: skew(12deg);
  //   }

  &__shape {
    // shape-outside defines how a content flows outside the element
    height: 15rem;
    width: 15rem;
    float: left;
    -webkit-shape-outside: circle(
      50% at 50% 50%
    ); // webkit prefix to use in other browsers as well
    shape-outside: circle(
      50% at 50% 50%
    ); // this property only works if we have float, height & width defined in a class
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skew(12deg);
    position: relative;

    @include respond(phone) {
      transform: translateX(-3rem) skew(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition-property: transform, filter;
    transition-duration: 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    color: $color-white;
    text-align: center;
    opacity: 0;
    transition-property: transform, opacity; // just using here the individual properties for practicing
    transition-duration: 0.5s;
    backface-visibility: hidden; // to stop any background shaking
  }

  &__text {
    transform: skew(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
